# requirements.txt
dash
pandas
numpy
dash-bootstrap-components
plotly
gunicorn  # Servidor de produção para Python
pyarrow   # Para ler arquivos parquet
requests
Werkzeug
psycopg2-binary
python-dotenv